
###### Active Directory Configuration ######
###### Uncomment all the single # lines below and set appropriate values
###### to enable Active Directory authentication via RTCP
#credentialsStore=activeDirectory

######  Address of the AD host
#url=ldap://ADhost:389

###### AD user with group query permissions
#adminuser=username@domain
#adminpassword=password

####### users windows domain.  All RTCP users must belong to this domain 
#domain=mydomain

#######  where to begin directory searches
#searchBase=DC=mycompany,DC=local

####### Map AD group names to RTCP roles (currently 'user', 'admin').  Logins which do not map to the 'user' role will be refused.
####### The expected format is <group_name1>=<role_name1>,<group_name2>=<role_name2>
####### The groups returned will represent the full hierarchy of groups to which the user belongs.
####### Groups may be mapped to multiple roles, and roles to multiple groups
#groupMappings=Users=user,Administrators=admin

#######  Additional AD configurations
#######  Only items which are different to the default AD section need to be configured 
#url=ldap.1://ADhost2:389
#adminuser.1=username@domain
#adminpassword.1=password
#domain.1=myotherdomain
#searchBase.1=DC=myothercompany,DC=local
#groupMappings.1=Users=user,Administrators=admin



###### LDAP Configuration #######
###### Uncomment all the single # lines below and modify as appropriate
###### to enable LDAP authentication via RTCP
#credentialsStore=LDAP

######  Address of the LDAP RTCP
#url=ldap://dirhost:389

###### LDAP user with group query permissions.  The username will normally need to be a distinguished name
#adminuser=cn=Directory Manager
#adminpassword=admin

#######  where to begin directory searches
#searchBase=dc=example,dc=com

####### Map group names to RTCP roles (currently 'user', 'admin').  Logins which do not map to the 'user' role will be refused.
####### The expected format is <group_name1>=<role_name1>,<group_name2>=<role_name2>
####### The groups returned will represent the full hierarchy of groups to which the user belongs.
####### Groups may be mapped to multiple roles, and roles to multiple groups
#groupMappings=Administrators=admin,Users=user

######## User filter.  The {0} placeholder will be replaced with the username of the user we are attempting to authenticate
#userFilter=(&(objectClass=person)(uid={0}))


####### User Group filter.  The {0} placeholder will be replaced with the DN of the user we are attempting to authenticate
####### This filter returns the groups of which the user is a member
#userGroupFilter=(&(objectClass=groupOfUniqueNames)(uniqueMember={0}))

####### Parent Group filter.  Used for recursive retrieval of parent groups of the user groups
#parentGroupFilter=(objectClass=groupOfUniqueNames)

####### Group identification attribute.  This is the value used to map groups to roles.  
####### Distingiushed and partial qualified names are not currently supported.
#groupIdentifier=cn